@import "other/_variables.scss";
@import "other/_mixin.scss";
@import "other/_glopal.scss";
@import "layouts/_header.scss";
@import "pages/_home.scss";
@import "layouts/_footer.scss";
@import "other/_animations.scss";
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");
@font-face {
	font-family: "Georgia Italic";
	font-style: normal;
	font-weight: normal;
	src: local("Georgia Italic"), url("georgiai.woff") format("woff");
}
